<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/x-icon" href="/static/img/favicon1.ico" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@1&display=swap" rel="stylesheet">
  {% if title %}
  <title> Blog - {{ title }}</title>
  {% else %}
  <title>Coder's Blog</title>
  {% endif %}

  <style>
hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
  </style>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark  fixed-top" style="background: #BD5D38;">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Coder's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{url_for('main.home')}}">Home</a>
            <a class="nav-item nav-link" href="{{url_for('main.admin')}}">Admin</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{url_for('posts.new_post')}}">New Post</a>
            <a class="nav-item nav-link" href="{{url_for('users.account')}}">Account</a>
            <a class="nav-item nav-link" href="{{url_for('users.logout')}}">Logout</a>
            {% else %}
            <a class="nav-item nav-link" href="{{url_for('users.login')}}">Login</a>
            <a class="nav-item nav-link" href="{{url_for('users.register')}}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        <div class="content-section" style="background-color:#eae9e9;">
          <h3 class="text-center mb-3" style="font-family: 'Baloo Tammudu 2', cursive;"><u>Thought of the day</u></h3>
          <div style="text-align: center;" class="mb-2 mt-2">
            <img src="\static\img\elon.jpg" alt="" width="55%" class="img-thumbnail rounded-circle ">
          </div>
          <h3 class="text-center">Elon Musk</h3>
          <p class="text-center mb-3 mt-3" style="font-family: 'Marck Script', cursive; font-size:21px;">
            "The first step is to establish that something is possible; then probability will occur."
          </p>


        </div>
      </div>
    </div>
  </main>
  <br>
  <hr class="mt-3">

  <footer class="mb-0">
    <div class=>
      <div class="text-center">
        <p > &#169; 2020 <b>Coder's Blog.</b> Built with &#10084</p>
      </div>
      <div class="text-center">
        <p style="font-family: 'Fredoka One', cursive;">By Vinayak Singoriya</p>
      </div>
    </div>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>